$colorMap: (
        "white": #fff,
        "black": #000000,
        "dark": #333333,
        "green": #48d1cc,
        'whatsapp': #25d366,
        'red': #ef5e4e,
        'orange': #FF6700,
        'primary': #C9B286,
        'primary-dark': #b7842f,
        'primary-light': #C9B286,
        'blue':#4b8df8,
        "gr-3": #FAFAFA,
        "gr-4": #aaa,
        "gr": #F1F1F1,
        "gr-1": #EBEBEB,
        "gr-2": #DCDCDC,
        "gr-8": #777,
        'dark-blue1': #352664,
        'dark-blue': #2C343F,
        "gr-15": #413c46,
);


/*=================================
=            VARIABLES            =
=================================*/

// RWD BREAKPOINTS
$b1200: 'only screen and ( max-width : 1199px )';
$b992: 'only screen and ( max-width : 991px )';
$b887: 'only screen and ( max-width : 887px )';
$b768: 'only screen and ( max-width : 767px  )';
$b480: 'only screen and ( max-width : 479px  )';

$g1200: 'only screen and ( min-width : 1200px )';
$g992: 'only screen and ( min-width : 992px )';
$g768: 'only screen and ( min-width : 768px )';
$g480: 'only screen and ( min-width : 480px )';

