.modal-dialog {
  &.modal-md {
    max-width: 400px;
  }

  .modal-title {
    margin: 0 auto;
    display: inline-block;
    position: relative;
  }

  .modal-header .btn-close {
    position: absolute;
    left: 2px;
    font-size: px2rem(18);
    top: 16px;
  }
}

.modal-pretty-head {
  .modal-dialog {

    .modal-header {
      padding: 15px 0;
      text-align: center;
      border-bottom: 1px solid get-color("gr-6");
      background: #f0f0f0;
      color: #535353;
      margin-bottom: 10px;
      font-size: px2rem(14);

      .modal-title {
        padding-right: 24px;

        i {
          position: absolute;
          right: 0px;
          font-size: px2rem(18);
          top: 1px;
        }
      }
    }
  }
}

.bordered-modal {
  .modal-header {
    background: transparent;
    border-bottom: none;
    border-top: 5px solid get-color('primary-dark');
    text-align: center;
  }

  .contact-info {
    span {
      &:first-child {
        width: 150px;
      }

      &:last-child {
        width: calc(100% - 200px);
        color: get-color('blue');
      }
    }


  }
}

.alert-dismissible .btn-close {
  padding: 14px;
  left: 0;
  right: auto;
}

.full-modal {
  .modal-body {
    background-color: get-color('gr-3');
  }
  @media #{$b768} {

    .modal-dialog {
      padding: 0;
      margin: 0;
      height: 100%;
    }

    .modal-content {
      border-radius: 0;
      height: 100%;
      min-height: 100%;
    }

    .modal-body {
      padding: 0;
      min-height: calc(100vh - 60px);
      max-height: calc(100vh - 60px);
      overflow: auto;
    }
  }

  @media #{$g768} {
    .modal-body {
      max-height: calc(100vh - 100px);
      overflow: auto;
    }
  }

}