@import "./0_variables";
@import "./1_mixins";

.loader {
  z-index: 1000;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0,0,0,0.3);
  display: flex;
  align-content: center;
  justify-content: center;
  align-items: center;
}
