@import "./0_variables";
@import "./1_mixins";

.pagination {
    display: inline-flex;

    li {
        margin: 0px 2px;
        line-height: 3rem;

        text-align: center;

        display: inline-flex;

        i {
            font-size: px2rem(18);
        }

        a {
            font-size: px2rem(15);
            border: 1px solid get-color('gr-8');
            width: 40px;
            height: 40px;
            border-radius: 3px;
            justify-content: center;
            display: flex;
            align-items: center;

        }

        &.current a {
            border: 1px solid get-color('primary-dark');
            color: get-color('black');
            background: get-color('primary');
        }
    }
}