@import "./0_variables";
@import "./1_mixins";

.swiperButtonNext, .swiperButtonPrev, .swiperButtonNext1, .swiperButtonPrev1 {
  &:after {
    font-size: 30px !important;
  }
}

.swiperButtonPrev {
  color: get-color('dark');
  left: -10px !important;
  right: auto !important;
}

.swiperButtonNext {
  color: get-color('dark');
  right: -10px !important;
  left: auto !important;
}

.swiperButtonPrev1 {
  color: get-color('white');
  left: 0 !important;
  right: auto !important;
}

.swiperButtonNext1 {
  color: get-color('white');
  right: 0 !important;
  left: auto !important;
}


.swiperContainer {
  overflow: hidden;
}

.swiperContainerVisible {
  overflow: visible;
}

.swiperContainerHidden {
  overflow: hidden;
}