
.shPlayArrow {
  &:before {
    content: "\ea1c";
  }
}

.shUser {
  &:before {
    content: "\e915";
  }
}

.shUserpro {
  &:before {
    content: "\e92b";
  }
}

.shChart {
  &:before {
    content: "\e92c";
  }
}

.shAlert {
  &:before {
    content: "\e92d";
  }
}

.shPass {
  &:before {
    content: "\e92e";
  }
}

.shListings {
  &:before {
    content: "\e92f";
  }
}

.shRemove {
  &:before {
    content: "\e916";
  }
}

.shAdd {
  &:before {
    content: "\e931";
  }
}

.shLogout {
  &:before {
    content: "\e932";
  }
}

.shLogin {
  &:before {
    content: "\e933";
  }
}

.shParking {
  &:before {
    content: "\e934";
  }
}

.shAparat {
  &:before {
    content: "\e935";
  }
}

.shMosque {
  &:before {
    content: "\e936";
  }
}

.shHospital {
  &:before {
    content: "\e937";
  }
}

.shEdit {
  &:before {
    content: "\e919";
  }
}

.shAlarm {
  &:before {
    content: "\e92a";
  }
}

.shPrint {
  &:before {
    content: "\e930";
  }
}

.shDash {
  &:before {
    content: "\e93b";
  }
}

.shMenu {
  &:before {
    content: "\e93c";
  }
}

.shMeter {
  &:before {
    content: "\e93d";
  }
}

.shMeter2 {
  &:before {
    content: "\e93e";
  }
}

.shCalendar {
  &:before {
    content: "\e93f";
  }
}

.shBed2 {
  &:before {
    content: "\e940";
  }
}

.shToilet {
  &:before {
    content: "\e941";
  }
}

.shTeam {
  &:before {
    content: "\e942";
  }
}

.sh-resturant {
  &:before {
    content: "\e943";
  }
}

.shHome {
  &:before {
    content: "\e944";
  }
}

.shBowling {
  &:before {
    content: "\e945";
  }
}

.shSmsb {
  &:before {
    content: "\e922";
  }
}

//npt
.shAgents {
  &:before {
    content: "\e947";
  }
}

.shArrow {
  &:before {
    content: "\e900";
  }
}

.shPinl {
  &:before {
    content: "\e91d";
  }
}

.shSms {
  &:before {
    content: "\e923";
  }
}

.shSort {
  &:before {
    content: "\e926";
  }
}

.shQuit {
  &:before {
    content: "\e927";
  }
}

.shUser2 {
  &:before {
    content: "\e928";
  }
}

.shSearch {
  &:before {
    content: "\e901";
  }
}

.shUp {
  &:before {
    content: "\e902";
  }
}

.shArrowUp {
  &:before {
    content: "\e948";
  }
}

.shDown {
  &:before {
    content: "\e903";
  }
}

.shArrowDown {
  &:before {
    content: "\e949";
  }
}

.shGo {
  &:before {
    content: "\e904";
  }
}

.shBack {
  &:before {
    content: "\e905";
  }
}

.shEdit3 {
  &:before {
    content: "\e906";
  }
}

.shMobileSms {
  &:before {
    content: "\e907";
  }
}

.shAddNote {
  &:before {
    content: "\e908";
  }
}

.shCallIn {
  &:before {
    content: "\e909";
  }
}

.shShare1 {
  &:before {
    content: "\e90a";
  }
}

.shBook {
  &:before {
    content: "\e90b";
  }
}

.shShop {
  &:before {
    content: "\e90c";
  }
}

.shBus {
  &:before {
    content: "\e90d";
  }
}

.shGallery {
  &:before {
    content: "\e90e";
  }
}

.shFilter {
  &:before {
    content: "\e90f";
  }
}

.shHeart {
  &:before {
    content: "\e910";
  }
}

.shHeart0 {
  &:before {
    content: "\e94a";
  }
}

.shHeart1 {
  &:before {
    content: "\e917";
  }
}

.shTime {
  &:before {
    content: "\e911";
  }
}

.shEdit2 {
  &:before {
    content: "\e912";
  }
}

.shFull {
  &:before {
    content: "\e913";
  }
}

.shG42 {
  &:before {
    content: "\e914";
  }
}

.shLocation {
  &:before {
    content: "\e939";
  }
}

.shAlarm2 {
  &:before {
    content: "\e958";
  }
}

.shCallb {
  &:before {
    content: "\e924";
  }
}

.shCall {
  &:before {
    content: "\e925";
  }
}

.shChecked {
  &:before {
    content: "\e918";
  }
}

.shWarning {
  &:before {
    content: "\e94b";
  }
}

.shCamera {
  &:before {
    content: "\e91a";
  }
}

.shVr {
  &:before {
    content: "\e91b";
  }
}

.shPlayButton {
  &:before {
    content: "\e91c";
  }
}

.shPlayButton2 {
  &:before {
    content: "\ea1c";
  }
}

.shStarO {
  &:before {
    content: "\e929";
  }
}

.shStarH {
  &:before {
    content: "\e94c";
  }
}

.shStar {
  &:before {
    content: "\e91e";
  }
}

.shList {
  &:before {
    content: "\e91f";
  }
}

.shList2 {
  &:before {
    content: "\e920";
  }
}

.shInstagram {
  &:before {
    content: "\e921";
  }
}

.shLinkedin {
  &:before {
    content: "\e938";
  }
}

.shFacebook {
  &:before {
    content: "\e93a";
  }
}

.shTelegram {
  &:before {
    content: "\e946";
  }
}

.shGooglePlus {
  &:before {
    content: "\e94d";
  }
}

.shMap {
  &:before {
    content: "\e94e";
  }
}

.shPark {
  &:before {
    content: "\e955";
  }
}

.shShop2 {
  &:before {
    content: "\e954";
  }
}

.shSchool {
  &:before {
    content: "\e951";
  }
}

.shBus2 {
  &:before {
    content: "\e94f";
  }
}

.shMetro {
  &:before {
    content: "\e950";
  }
}

.shBenzin {
  &:before {
    content: "\e953";
  }
}

.shHospital2 {
  &:before {
    content: "\e956";
  }
}

.shSchool2 {
  &:before {
    content: "\e952";
  }
}

.shList3 {
  &:before {
    content: "\e957";
  }
}

.shRepeat {
  &:before {
    content: "\e959";
  }
}

.shMsg {
  &:before {
    content: "\e95a";
  }
}

.shListing {
  &:before {
    content: "\e95b";
  }
}

.shDashboard {
  &:before {
    content: "\e95c";
  }
}

.shAgentss {
  &:before {
    content: "\e95d";
  }
}

.shEye {
  &:before {
    content: "\e95e";
  }
}

.shEyeHidden {
  &:before {
    content: "\e986";
  }
}

.shNarrow {
  &:before {
    content: "\e95f";
  }
}

.shSetting {
  &:before {
    content: "\e960";
  }
}

.shSold {
  &:before {
    content: "\e961";
  }
}

.shBox {
  &:before {
    content: "\e962";
  }
}

.shTarget {
  &:before {
    content: "\e963";
  }
}

.shDashboard2 {
  &:before {
    content: "\e964";
  }
}

.shAndroid {
  &:before {
    content: "\eac0";
  }
}

.shApple {
  &:before {
    content: "\eabe";
  }
}

.shBazzar {
  &:before {
    content: "\e965";
  }
}

.shUser4 {
  &:before {
    content: "\e967";
  }
}

.shUser3 {
  &:before {
    content: "\e966";
  }
}

.shWhatsapp {
  &:before {
    content: "\e968";
  }
}

.shShare2 {
  &:before {
    content: "\ea82";
  }
}

.shArrowLeft {
  &:before {
    content: "\ea40";
  }
}

.shArrowRight {
  &:before {
    content: "\ea3c";
  }
}

.shForward {
  &:before {
    content: "\ea20";
  }
}

.shBackward {
  &:before {
    content: "\ea1f";
  }
}

.shMetter2 {
  &:before {
    content: "\e969";
  }
}

.shBed3 {
  &:before {
    content: "\e96a";
  }
}

.shBalcony {
  &:before {
    content: "\e96b";
  }
}

.shConferance {
  &:before {
    content: "\e96c";
  }
}

.shAircondition {
  &:before {
    content: "\e96d";
  }
}

.shWindow {
  &:before {
    content: "\e96e";
  }
}

.shFloor {
  &:before {
    content: "\e96f";
  }
}

.shSeat {
  &:before {
    content: "\e970";
  }
}

.shShooting {
  &:before {
    content: "\e971";
  }
}

.shJacuzzi {
  &:before {
    content: "\e972";
  }
}


.shLobby {
  &:before {
    content: "\e973";
  }
}

.shHeating {
  &:before {
    content: "\e974";
  }
}

.shParking {
  &:before {
    content: "\e975";
  }
}

.shFernish {
  &:before {
    content: "\e976";
  }
}


.shPool {
  &:before {
    content: "\e977";
  }
}

.shGym {
  &:before {
    content: "\e978";
  }
}

.shFlower {
  &:before {
    content: "\e979";
  }
}

.shStorage {
  &:before {
    content: "\e97a";
  }
}

.shYard {
  &:before {
    content: "\e97b";
  }
}

.shElevator {
  &:before {
    content: "\e97c";
  }
}

.shJanitor {
  &:before {
    content: "\e97d";
  }
}

.shSun {
  &:before {
    content: "\e97e";
  }
}

.shMoon {
  &:before {
    content: "\e97f";
  }
}

.shMore1 {
  &:before {
    content: "\e980";
  }
}

.shMore2 {
  &:before {
    content: "\e981";
  }
}

.shCheckedFill {
  &:before {
    content: "\ea52";
  }
}

.shCheckedEmpty {
  &:before {
    content: "\ea53";
  }
}

.shDashboard3 {
  &:before {
    content: "\e982";
  }
}

.shCard {
  &:before {
    content: "\e985";
  }
}

.shHelp {
  &:before {
    content: "\e983";
  }
}

.shHelpOutline {
  &:before {
    content: "\e984";
  }
}

.shFire {
  &:before {
    content: '\e9a9';
  }
}

.shBarbiq {
  &:before {
    content: '\e987';
  }
}

.shIntercom {
  &:before {
    content: '\e987';
  }
}

.shParking2 {
  &:before {
    content: '\e988';
  }
}

.shDoor {
  &:before {
    content: '\e989';
  }
}

.shSecurity {
  &:before {
    content: '\e98a';
  }
}

.shSchool2 {
  &:before {
    content: '\e98c';
  }
}

.shTrain {
  &:before {
    content: '\e98d';
  }
}

.shGas {
  &:before {
    content: '\e98e';
  }
}

.shCurrent {
  &:before {
    content: '\e9b3';
  }
}

.shTree {
  &:before {
    content: '\e98f';
  }
}

.shCup {
  &:before {
    content: '\e990';
  }
}

.shVerySad {
  &:before {
    content: '\e9ed';
  }
}

.shSad {
  &:before {
    content: '\e9e5';
  }
}

.shNormal {
  &:before {
    content: '\e9f7';
  }
}

.shHappy {
  &:before {
    content: '\e9e1';
  }
}

.shVeryHappy {
  &:before {
    content: '\e9df';
  }
}

.shReg {
  &:before {
    content: '\e996';
  }
}

.shGarden {
  &:before {
    content: '\e992';
  }
}

.shConsultant {
  &:before {
    content: '\e991';
  }
}

.shClean {
  &:before {
    content: '\e995';
  }
}

.shConstruct {
  &:before {
    content: '\e994';
  }
}

.shSetting1 {
  &:before {
    content: '\e993';
  }
}
